apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: messaging
  namespace: manuela-stormshift-messaging
spec:
  lookupPolicy:
    local: true
  tags:
  - name: 0.3.2-3
    from:
      kind: DockerImage
      name: quay.io/martjack/iot-consumer:0.3.2-3
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-4
    from:
      kind: DockerImage
      name: quay.io/martjack/iot-consumer:0.3.2-4
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-5
    from:
      kind: DockerImage
      name: quay.io/martjack/iot-consumer:0.3.2-5
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-6
    from:
      kind: DockerImage
      name: quay.io/martjack/iot-consumer:0.3.2-6
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-7
    from:
      kind: DockerImage
      name: quay.io/martjack/iot-consumer:0.3.2-7
    importPolicy: {}
    referencePolicy:
      type: Local
