storageSystem:
  deploy: true
  inventory:
    useSpecificNodes: false

clusterGroup:
  name: datacenter
  isHubCluster: true

  namespaces:
  - golang-external-secrets
  - open-cluster-management
  - manuela-ml-workspace
  - manuela-tst-all:
      operatorGroup: true
      labels:
        modelmesh-enabled: 'true'
        opendatahub.io/dashboard: 'true'
  - manuela-ci
  - manuela-data-lake
  - vault
  - openshift-pipelines
  - openshift-storage
  - redhat-ods-operator:
      operatorGroup: true
      targetNamespaces:
  - ml-development:
      labels:
        modelmesh-enabled: 'true'
        opendatahub.io/dashboard: 'true'
  - redhat-ods-applications
    #  operatorgroupExcludes:
    #  - manuela-ml-workspace

  subscriptions:
    acm:
      name: advanced-cluster-management
      namespace: open-cluster-management
      channel: release-2.11

    amqbroker-prod:
      name: amq-broker-rhel8
      namespace: manuela-tst-all

    amqstreams-prod-dev:
      name: amq-streams
      namespaces:
      - manuela-data-lake
      - manuela-tst-all

    camelk-prod-dev:
      name: camel-k
      namespaces:
      - manuela-data-lake
      - manuela-tst-all
      channel: stable-v2
      source: community-operators
      sourceNamespace: openshift-marketplace

    pipelines:
      name: openshift-pipelines-operator-rh
      source: redhat-operators

    odf:
      name: odf-operator
      namespace: openshift-storage
      source: redhat-operators

    ods:
      name: rhods-operator
      channel: alpha
      namespace: redhat-ods-operator

  projects:
  - datacenter
  - production-datalake
  - golang-external-secrets
  - data-science-proj
  - vault

  applications:
    acm:
      name: acm
      namespace: open-cluster-management
      project: datacenter
      chart: acm
      chartVersion: 0.1.*
      ignoreDifferences:
      - group: internal.open-cluster-management.io
        kind: ManagedClusterInfo
        jsonPointers:
        - /spec/loggingCA

    pipelines:
      name: pipelines
      namespace: manuela-ci
      project: datacenter
      path: charts/datacenter/pipelines

    production-data-lake:
      name: production-data-lake
      namespace: manuela-data-lake
      project: production-datalake
      path: charts/datacenter/manuela-data-lake
      ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
        - /spec/replicas
      - group: route.openshift.io
        kind: Route
        jsonPointers:
        - /status
      - group: image.openshift.io
        kind: ImageStream
        jsonPointers:
        - /spec/tags

    storage:
      name: storage
      namespace: openshift-storage
      project: datacenter
      chart: openshift-data-foundations
      chartVersion: 0.1.*

    data-science-cluster:
      name: data-science-cluster
      namespace: redhat-ods-applications
      project: data-science-proj
      path: charts/datacenter/data-science-cluster
      ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
        - /spec/replicas
      - group: route.openshift.io
        kind: Route
        jsonPointers:
        - /status
      - group: image.openshift.io
        kind: ImageStream
        jsonPointers:
        - /spec/tags

    data-science-project:
      name: data-science-project
      namespace: ml-development
      project: data-science-proj
      path: charts/datacenter/data-science-project
      ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
        - /spec/replicas
      - group: route.openshift.io
        kind: Route
        jsonPointers:
        - /status
      - group: image.openshift.io
        kind: ImageStream
        jsonPointers:
        - /spec/tags

    test:
      name: manuela-test
      namespace: manuela-tst-all
      project: datacenter
      path: charts/datacenter/manuela-tst
      extraValueFiles:
        - /overrides/values-test-imagedata.yaml

    vault:
      name: vault
      namespace: vault
      project: datacenter
      chart: hashicorp-vault
      chartVersion: 0.1.*

    secrets-operator:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: golang-external-secrets
      chart: golang-external-secrets
      chartVersion: 0.1.*

#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#  - name: pipelines
#    namespace: production
#    project: datacenter
#    path: applications/pipeline
#    repoURL: https://github.com/you/applications.git
#    targetRevision: stable
#    overrides:
#    - name: myparam
#      value: myparam
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#  - name: vendor-app
#    namespace: default
#    project: vendor
#    path: path/to/myapp
#    repoURL: https://github.com/vendor/applications.git
#    targetRevision: main

  imperative:
    # For additional overrides that apply to the jobs, please refer to
    # https://github.com/validatedpatterns/clustergroup-chart/
    # schedule: "*/10 * * * *" # Default schedule
    jobs:
      - name: clone-upstream-repos-gitea
        playbook: ./ansible/playbooks/clone_upstream_repos_gitea.yml
        extravars:
          - "repo_name=manuela-dev"
          - "upstream_repo_url=https://github.com/validatedpatterns-demos/manuela-dev"
        timeout: 180
      - name: copy-initial-model-to-incluster-s3
        image: quay.io/hybridcloudpatterns/utility-container:latest
        playbook: ./ansible/playbooks/copy_initial_object_to_incluster_s3.yml
        extravars:
          - "bucket_name=user-bucket"
          - "src_file=ansible/files/model.joblib"
          - "object_name=initial_model.joblib"
        timeout: 180
      - name: copy-initial-training-data-to-incluster-s3
        image: quay.io/hybridcloudpatterns/utility-container:latest
        playbook: ./ansible/playbooks/copy_initial_object_to_incluster_s3.yml
        extravars:
          - "bucket_name=user-bucket"
          - "src_file=ansible/files/raw-data.csv"
          - "object_name=raw-data.csv"
        timeout: 180

  managedClusterGroups:
    factory:
      name: factory
      # repoURL: https://github.com/dagger-refuse-cool/manuela-factory.git
      # targetRevision: main
      helmOverrides:
      # Values must be strings!
      - name: clusterGroup.isHubCluster
        value: "false"
      clusterSelector:
        matchLabels:
          clusterGroup: factory
        matchExpressions:
        - key: vendor
          operator: In
          values:
            - OpenShift

