clusterGroup:
  name: factory
  isHubCluster: false

  namespaces:
  - golang-external-secrets
  - manuela-stormshift-line-dashboard
  - manuela-stormshift-machine-sensor
  - manuela-stormshift-messaging
  - manuela-inference:
      operatorGroup: true
      labels:
        modelmesh-enabled: 'true'
        opendatahub.io/dashboard: 'true'
  - redhat-ods-operator:
      operatorGroup: true
      targetNamespaces:

  subscriptions:
  - name: amq-streams
    namespace: manuela-stormshift-messaging

  - name: amq-broker-rhel8
    namespace: manuela-stormshift-messaging

  - name: red-hat-camel-k
    namespace: manuela-stormshift-messaging

  - name: rhods-operator
    channel: alpha
    namespace: redhat-ods-operator

  projects:
  - factory

  applications:
    eso:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: factory
      chart: golang-external-secrets
      chartVersion: 0.1.*

    stormshift:
      name: stormshift
      project: factory
      path: charts/factory/manuela-stormshift
      extraValueFiles:
        - /overrides/values-prod-imagedata.yaml
      ignoreDifferences:
      - group: image.openshift.io
        kind: ImageStream
        jsonPointers:
        - /spec/tags


#
#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#  - name: pipelines
#    namespace: production
#    project: datacenter
#    path: applications/pipeline
#    repoURL: https://github.com/you/applications.git
#    targetRevision: stable
#    overrides:
#    - name: myparam
#      value: myparam
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#  - name: vendor-app
#    namespace: default
#    project: vendor
#    path: path/to/myapp
#    repoURL: https://github.com/vendor/applications.git
#    targetRevision: main
