version: "2.0"
secrets:
# uncomment this if global.imageregistry.type is quay
#  - name: imageregistry
#    fields:
#    # eg. Quay -> Robot Accounts -> Robot Login
#    - name: username
#      onMissingValue: prompt
#      value: null
#      prompt: "Insert Quay Username"
#    - name: password
#      onMissingValue: prompt
#      value: null
#      prompt: "Insert Quay Password"
