apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: kafka-to-s3-integration  
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true 
spec:
  configuration:
    - type: configmap
      value: kafka-to-s3-config
    - type: secret
      value: s3-secret  
  profile: OpenShift
  sources:
    - content: |
        // camel-k: language=java
        // camel-k: dependency=camel:camel-core
        // camel-k: dependency=camel:camel-kafka
        // camel-k: dependency=camel:camel-aws-s3
        // camel-k: dependency=mvn:com.amazonaws
        package com.redhat.manuela.routes;
        import java.io.ByteArrayInputStream;
        import java.util.Iterator;
        import java.util.List;

        import org.apache.camel.Exchange;
        import org.apache.camel.Processor;
        import org.apache.camel.PropertyInject;
        import org.apache.camel.builder.RouteBuilder;
        import org.apache.camel.component.aws.s3.S3Constants;
        import org.apache.camel.model.OnCompletionDefinition;
        import org.apache.camel.processor.aggregate.GroupedBodyAggregationStrategy;
        import org.slf4j.Logger;
        import org.slf4j.LoggerFactory;

        import com.amazonaws.ClientConfiguration;
        import com.amazonaws.Protocol;
        import com.amazonaws.SDKGlobalConfiguration;
        import com.amazonaws.auth.AWSStaticCredentialsProvider;
        import com.amazonaws.auth.BasicAWSCredentials;
        import com.amazonaws.client.builder.AwsClientBuilder.EndpointConfiguration;
        import com.amazonaws.services.s3.AmazonS3;
        import com.amazonaws.services.s3.AmazonS3ClientBuilder;


        public class Kafka2S3Route extends RouteBuilder {

            private static final Logger LOGGER = LoggerFactory.getLogger(Kafka2S3Route.class);
            private AmazonS3 s3Client;

            @PropertyInject("s3.custom.endpoint.enabled")
            private String s3_custom_endpoint_enabled;

            @PropertyInject("s3.custom.endpoint.url")
            private String s3_custom_endpoint_url;

            @PropertyInject("s3.accessKey")
            private String s3_accessKey;
            @PropertyInject("s3.secretKey")
            private String s3_secretKey;
            @PropertyInject("s3.message.aggregation.count")
            private String s3_message_aggregation_count;

            @PropertyInject("s3.region")
            private String s3_region;
            @Override
            public void configure() throws Exception {
                setupAWSClient();
                storeTemperatureInS3();
                storeVibrationInS3();
            }
           private void setupAWSClient() {
                // key: wtFLMAxRcAUqJ2FCnCYW
                // secret-key: 6kit6yLBeiRkC51PuM8G8vYbwhjVBlNhT0RuVtJj
                if(Boolean.valueOf(s3_custom_endpoint_enabled)) {
                    LOGGER.info("Custom S3 endpoint is enabled. Using: "+s3_custom_endpoint_url);
                    System.setProperty(SDKGlobalConfiguration.DISABLE_CERT_CHECKING_SYSTEM_PROPERTY, "true");
                    s3Client = AmazonS3ClientBuilder.standard()
                        .withClientConfiguration(new ClientConfiguration().withProtocol(Protocol.HTTPS))
                        .withCredentials(new AWSStaticCredentialsProvider(new BasicAWSCredentials(s3_accessKey, s3_secretKey)))
                        .withEndpointConfiguration(new EndpointConfiguration(s3_custom_endpoint_url, ""))
                        .enablePathStyleAccess()
                        .build();
                } else {
                    LOGGER.info("Using AWS S3 endpoint");
                    s3Client = AmazonS3ClientBuilder.standard()
                        .withClientConfiguration(new ClientConfiguration().withProtocol(Protocol.HTTPS))
                        .withCredentials(new AWSStaticCredentialsProvider(new BasicAWSCredentials(s3_accessKey, s3_secretKey)))
                        .withRegion(s3_region)
                        .enablePathStyleAccess()
                        .build();
                }
                bindToRegistry("client", s3Client);
            }
            private void storeVibrationInS3() {
                from("kafka:{{.Values.kafka.broker.topic.vibration}}?brokers={{.Values.kafka.broker.uri}}")
                    .convertBodyTo(String.class)
                    .aggregate(simple("true"), new GroupedBodyAggregationStrategy()).completionSize(s3_message_aggregation_count)
                    .process(new Processor() {
                            @Override
                            public void process(Exchange exchange) throws Exception {
                                List<Exchange> data = exchange.getIn().getBody(List.class);
                                StringBuffer sb = new StringBuffer();
                                for (Iterator iterator = data.iterator(); iterator.hasNext();) {
                                    String ex = (String) iterator.next();
                                    sb.append(ex+"\\n");
                                }
                                exchange.getIn().setBody(new ByteArrayInputStream(sb.toString().getBytes()));
                            }
                        })
                    // .to(\"file:/var/tmp/\");
                    .setHeader(S3Constants.KEY, simple("manuela-vibration-${date:now}.txt"))
                    .to("aws-s3://{{.Values.s3.bucket.name}}?amazonS3Client=#client")
                    .log("Uploaded Vibration dataset to S3");
            }
            private void storeTemperatureInS3() {
                from("kafka:{{.Values.kafka.broker.topic.temperature}}?brokers={{.Values.kafka.broker.uri}}")
                    .convertBodyTo(String.class)
                    .aggregate(simple("true"), new GroupedBodyAggregationStrategy()).completionSize(s3_message_aggregation_count)
                    .process(new Processor() {
                            @Override
                            public void process(Exchange exchange) throws Exception {
                                List<Exchange> data = exchange.getIn().getBody(List.class);
                                StringBuffer sb = new StringBuffer();
                                for (Iterator iterator = data.iterator(); iterator.hasNext();) {
                                    String ex = (String) iterator.next();
                                    sb.append(ex+"\n");
                                }
                                exchange.getIn().setBody(new ByteArrayInputStream(sb.toString().getBytes()));
                            }
                        })
                    // .to(\"file:/var/tmp/\");
                    .setHeader(S3Constants.KEY, simple("manuela-temperature-${date:now}.txt"))
                    .to("aws-s3://{{.Values.s3.bucket.name}}?amazonS3Client=#client")
                    .log("Uploaded Temperature dataset to S3");
            }
            @Override
            public OnCompletionDefinition onCompletion() {
                return super.onCompletion();
            }
        }
      name: Kafka2S3Route.java
