global:
  datacenter:
    clustername: datacenter-XXXXX
    domain: BASEDOMAIN

  imageregistry:
    account: PLAINTEXT
    hostname: quay.io
    type: quay

secretStore:
  name: vault-backend
  kind: ClusterSecretStore

messaging:
  vibrationAlert: true
  vibrationAnomaly: true
  nodeTlsReject: 0

machineSensor1:
  port: 80

machineSensor2:
  port: 80
  sensorTemperature: false

mqtt:
  broker:
    uri: "tcp://broker-amq-mqtt-all-0-svc.manuela-tst-all.svc:61616"
    clientId: "MQTT2KafkaRouteDev"
    topic:
      temperature: "iot-sensor/sw/temperature"
      vibration: "iot-sensor/sw/vibration"

kafka:
  s3:
    bucket: anomaly-detection
    endpointurl: http://s3.openshift-storage.svc
    message:
      aggregation:
        count: 50

  broker:
    uri: "dev-kafka-cluster-kafka-bootstrap.manuela-tst-all.svc:9092"
    topic:
      temperature: "iot-sensor-sw-temperature"
      vibration: "iot-sensor-sw-vibration"

machine_sensor:
  bootstrap_image: quay.io/hybridcloudpatterns/iot-software-sensor:0.4.0
  bootstrap_tag: 0.4.0
  image_location: image-registry.openshift-image-registry.svc:5000/manuela-tst-all/machine-sensor
  repo_name: iot-software-sensor
  tag: 0.4.0
  built_tags: []

iot_consumer:
  bootstrap_image: quay.io/hybridcloudpatterns/iot-consumer:0.4.0
  bootstrap_tag: 0.4.0
  image_location: image-registry.openshift-image-registry.svc:5000/manuela-tst-all/messaging
  repo_name: iot-consumer
  tag: 0.4.0
  built_tags: []

iot_frontend:
  bootstrap_image: quay.io/hybridcloudpatterns/iot-frontend:0.4.0
  bootstrap_tag: 0.4.0
  image_location: image-registry.openshift-image-registry.svc:5000/manuela-tst-all/line-dashboard
  repo_name: iot-frontend
  tag: 0.4.0
  built_tags: []
